html,
body,
.root {
  padding-top: 70px;
}

.my-jumbo {
  margin: 10px 5px 2px 5px;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #b8c8da;
  border-radius: .3rem;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.book-shelf-changer {
  position: absolute;
  bottom: 1px;
  right: 1px;
}

.shelf-name {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.315);
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle {
  border-radius: 50% !important;
}

.my-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: #498fdf;
}
